<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Hopitaux</ion-title>
    <ion-button slot="end" class="retour" fill=clear routerLink="../"><ion-icon name="return-up-back-outline">
    </ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar type="search" placeholder="Hopitaux" (ionInput)="sch()"  [(ngModel)]="nom_H">
  </ion-searchbar>
<br>

<a href="https://www.google.com/maps/search/H%C3%B4pital,+Nouakchott,+Mauritanie/@18.07353,-15.960433,16.87z?hl=fr">
  <ion-button class="but4" fill=clear color="primary" >
    Hopitaux prés de vous<ion-icon name="location-outline"></ion-icon>
  </ion-button></a>

    <ion-card color=light lines="inset" *ngFor="let hopital of hopital">
        <ion-label><div class="title">{{hopital.nom_H}}</div>
        </ion-label><img src="{{hopital.image}}" >
        <div><ion-button   class="view" fill="outline" slot="end" size="small"  

          (click)="getview(hopital.id_H,hopital.nom_H,hopital.url,hopital.image)">Détails</ion-button></div><br>

        <div class="map"><a [attr.href]="hopital.url">
          <ion-icon class="maps" color="secondary" name="location-outline"></ion-icon></a></div>
    </ion-card>
</ion-content>
