<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ma santé</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background">
  <div class="card">
  <div routerLink="/cliniques">
    <img src="assets/img/clc.png">
    <div class="title">cliniques</div>
  </div>
  <div routerLink="/hopitaux">
    <img src="assets/img/heart.png">
    <div class="title">hopitaux</div>
  </div>
  <div routerLink="/pharmacies">
    <img src="assets/img/medicament.png">
    <div class="title">pharmacies</div>
  </div>
  <div  routerLink="/laboratoires">
    <img src="assets/img/biosample.png">
    <div class="title">laboratoires</div>
    </div>
  </div>

</ion-content>
