<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Doctor</ion-title>
    <ion-button  slot="end" class="retour" fill=clear (click)="getview(doctor.idcl,doctor.nomcl,doctor.telcl,doctor.heureovcl,doctor.heurefcl,doctor.url,doctor.image)" ><ion-icon name="return-up-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content >
  <div class="card">
    <div class="image">
      <img src="/../../assets/img/doc.png">
      
    </div>
    
    <div class="card-content">
    
    
      <ion-label><div class="title">Dr.{{doctor.nomdr}}</div></ion-label>
     <p></p>
      
        <div class="info" lines="inset" *ngFor="let doc of doc"><u (click)="getview(doc.id_cl,doc.nom_cl,doc.tel_cl,doc.heure_ov_cl,doc.heure_f_cl,doc.url,doc.image)"> 
          <div *ngIf="doc.id_dr==doctor.id_dr"><img src="/../../assets/img/hop.png">{{doc.nom_cl}}</div> </u><p></p>
          </div>
          <div class="info" lines="inset" *ngFor="let doclab of doclab"><u (click)="getview2(doclab.id_H,doclab.nom_H,doctor.url,doclab.image)"> 
            <div *ngIf="doclab.id_dr==doctor.id_dr"><img src="/../../assets/img/6ab.png">{{doclab.nom_H}}</div> </u><p></p>
            </div>
         
 </div> 
  </div>
</ion-content>
